<footer class="footer">
  <div class="footer_top_bg skewed_box"></div>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer_contents">
    <h3>주최</h3>
    <p>
      전국 대학생 프로그래밍 대회 동아리 연합
    </p>

    <h3>주관</h3>
    <p>
      고려대학교 SW중심대학 사업단
    </p>
    
    <h3>후원</h3>
    <a class="sp_logo" href="https://startlink.io/"><img src="/sponsor-logo/startlink.png" alt="Startlink" /></a>
    <a class="sp_logo" href="https://www.algospot.com/"><img src="/sponsor-logo/algospot.png" alt="Algospot" /></a>
    <a class="sp_logo" href="https://solved.ac/"><img src="/sponsor-logo/solvedac-black.svg" alt="solved.ac" /></a>

    <ul>
      <li><a href="https://www.facebook.com/pg/dev.loadmap/"><b>개앞맵시</b>(이복연)</a></li>
    </ul>
  </div>
  <div class="footer_contents">
    <p>
      <a href="https://www.facebook.com/groups/ucpc.korea">전국 대학생 프로그래밍 대회 동아리 연합</a> | {{ site.author | escape }}<br>
      Designs &copy; 2020 <a href="https://shiftpsh.com">shiftpsh.com</a>
    </p>
  </div>
</footer>